<?xml version="1.0"?>
<robot name="chargement_model"
	xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="M_PI" value="3.1415926" />
	<xacro:property name="H_PI" value="1.5707963" />

    <link name="base_link">
        <visual>
                <geometry>
                    <box size="1e-6 1e-6 1e-6"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="1e-6 1e-6 1e-6"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="100"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <link name="charge_ment_link">
        <visual>
                <geometry>
                    <box size="0.1 0.1 0.005"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="0.1 0.1 0.005"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="2"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="charge_ment_link_to_base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="charge_ment_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="charge_major_link">
        <visual>
                <geometry>
                    <box size="0.05 0.05 0.25"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="0.05 0.05 0.25"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="2"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="charge_major_link_to_charge_ment_link_joint" type="fixed">
        <parent link="charge_ment_link"/>
        <child link="charge_major_link"/>
        <origin xyz="0 0 0.1275" rpy="0 0 0"/>
    </joint>

    <link name="charge_top_link">
        <visual>
                <geometry>
                    <box size="0.1 0.1 0.005"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="0.1 0.1 0.005"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="2"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="charge_top_link_to_charge_major_link_joint" type="fixed">
        <parent link="charge_major_link"/>
        <child link="charge_top_link"/>
        <origin xyz="0 0 0.1275" rpy="0 0 0"/>
    </joint>

    <link name="charge_top_left_baffe_link">
        <visual>
                <geometry>
                    <box size="0.05 0.01 0.03"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="0.05 0.01 0.03"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="2"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="charge_top_left_baffe_link_to_charge_top_link_joint" type="fixed">
        <parent link="charge_top_link"/>
        <child link="charge_top_left_baffe_link"/>
        <origin xyz="0 0.02 0.02" rpy="0 0 0"/>
    </joint>

    <link name="charge_top_right_baffe_link">
        <visual>
                <geometry>
                    <box size="0.05 0.01 0.03"/>
                </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                    <box size="0.05 0.01 0.03"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="2"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="charge_top_right_baffe_link_to_charge_top_link_joint" type="fixed">
        <parent link="charge_top_link"/>
        <child link="charge_top_right_baffe_link"/>
        <origin xyz="0 -0.02 0.02" rpy="0 0 0"/>
    </joint>

</robot>